mat-card {
    width: 400px;
    height: min-content;
    background: rgba($color: #202020, $alpha: 1.0);
    color: #FFF;
    gap: 1rem;
    margin: auto;

    mat-divider {
        background: #FFF;
    }
}